/* share style  */
:root{
    --primary-color: #FF5400;
    --secondary-color:#131318;
    --third-color:#5A5A5D;
}
/* header style  start*/

/* nav section style start */
nav{
    display: flex;
    max-width: 1250px;
}

.nav-head{
    display: flex;
    width:50%;
   /* border:2px solid saddlebrown; */
}

.nav-head img{
    padding-top:8px;
    height:56px;
    width:48px;
}

.nav-head h2{
    padding-left: 10px;
    font-size: 26px;
    font-weight: 700;
}
.nav-head span ,nav li span{
    color:var(--primary-color);
}

nav ul{
    display: flex;
    width:50%;
    /* border:2px solid slateblue; */
    justify-content: space-around;
    text-align: center;
    color: #424247;
    font-size: 18px;
    font-weight: 400px;
 
}
nav li{
    list-style: none;
    text-align: center;
    padding-top:10px;
    
}
/* nav section style end  */

/* banner style start  */
.banner{
    background-image:url('./Images/Group\ 13\ \(1\)\ \(1\).png');
     /* max-width: 1250px; */
    /* border-radius: 16px; */
    /* border-radius: 16px; */
    /* margin-top:30px; */
    border: 2px solid sandybrown;
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
}
/* .banner img{ 
    fill-opacity: 100%;
    width:973px;
} */
/* banner style end  */
/* main style start  */

.main-header{
    display: flex;
    margin-top:10px;
    max-width: 1250px;
    margin-top:40px;
    border:2px solid green;
}
.main-description h2{
    color:var(--secondary-color);
    font-size: 30px;
    font-weight:700;
}
.main-description{
    width: 50%;
    /* border:1px solid black; */
    padding-left:10px;
    margin-top: -20px;
}
.main-description button{
    border-radius:8px;
    background-color:var(--primary-color);
    color:#FFF;
    font-size: 16px;
    font-weight:800;
    margin-top: 10px;
}

.main-img{
    width: 50%;
    /* border:2px solid salmon; */
    justify-content: center;
    align-items: center;
    padding-left:80px;
    
  
}
.main-img img{
    width:400px;
    height: 450px;

}
.main-description li{
    height:60px;
    width:450px;
    margin-left: -20px;
}

.main-description ul,p{
    font-size: 18px;
    color:var(--third-color);
    line-height: 26px;
    font-weight:400px;
}
